<%= form_with(model: itinerary, url: itineraries_path, local: true, id: "itinerary-form") do |form| %>
  <div>
    <%= form.label :title, "タイトル" %>
    <%= form.text_field :title, placeholder: "例: 夏の旅行", class: "form-control" %>
  </div>
  <div>
    <%= form.label :start_date, "開始日" %>
    <%= form.date_field :start_date, id: "start_date", class: "form-control" %>
  </div>
  <div>
    <%= form.label :end_date, "終了日" %>
    <%= form.date_field :end_date, id: "end_date", class: "form-control" %>
  </div>
  <div>
    <%= form.submit "登録する", class: "btn btn-primary" %>
  </div>
<% end %>