<%= javascript_importmap_tags %>

<!-- ヘッダー -->
  <header class="header">
    <div class="welcome">
        <h2><%= @itinerary.title %> - <%= @visit_date.strftime('%Y年%m月%d日') %>（<%= params[:current_day] %>日目）</h2>
      </div>
    </div>
      <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'logout-button' %>
    </div>
  </header>

<main>
<div class="itinerary-contents">
  <!-- 出発地ブロック -->
  <div class="destination-block time-block departure-block">
    <div class="left-container">
      <div class="left-section">
        <label>出発地:</label>
        <input type="text" value="自宅" readonly>
      </div>
      <div class="left-section">
        <label>出発時間:</label>
        <input type="time" >
      </div>
    </div>
  </div>

  <!-- 移動時間ブロック -->
  <div class="destination-block time-block travel-time-block">
    <div class="left-container">
      <div class="left-section">
        <label>移動時間:</label>
        <input type="text" placeholder="例: 0:30">
      </div>
    </div>
  </div>

  <!-- 目的地ブロック -->
  <% @destinations.each_with_index do |destination, index| %>
  <div class="destination-block destination-details-block">
    <div class="left-container">
      <div class="left-section">
        <label>到着予定時間:</label>
        <input type="time" value="">
      </div>
      <div class="left-section">
        <label>滞在予定時間:</label>
        <input type="text" value="">
      </div>
      <div class="left-section">
        <label>出発予定時間:</label>
        <input type="time" value="">
      </div>
    </div>

    <div class="right-section">
      <h3>目的地: </h3>
      <p>休館日: </p>
      <p>営業時間: </p>
      <p>スタンプ押印時間: </p>
    </div>
  </div>
<% end %>

<!-- フッター -->
<footer class="footer">
  <div class="footer-container">
     <button id="#" class="footer-link">しおりを<br>登録する</button>
  </div>
  </div>
</footer>

 
