<body class="dashboard-page">
  <!-- ヘッダー -->
  <header class="header">
    <div class="welcome">ようこそ <%= current_user.nickname %> さん</div>
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'logout-button' %>
  </header>

  <main>
  <!-- インストラクション -->
  <div class="instructions">
    ピンを押して詳細を確認しましょう。<br>
    スタンプ押印済みを登録しましょう。
  </div>

  <!-- 地図の表示領域 -->
    <div id="map" style="width: 100%; height: 600px;"></div>
  </main>

  <!-- 道の駅の詳細 モーダル-->
<div id="stationModal" class="modal fade" tabindex="-1" aria-labelledby="stationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stationModalLabel">道の駅: <span id="stationName">○○</span></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- モーダルの内容 -->
      <div class="modal-body">       
        <p><strong>休館日:</strong> <span id="closedDays"></span></p>
        <p><strong>開館時間:</strong></p>
        <ul id="businessHours"></ul>
        <p><strong>スタンプ押印時間:</strong></p>
        <p id="stampHours">開館時間に同じ ※休館日は押せません</p>
      </div>

      
    </div>
  </div>
</div>

  <!-- フッター -->
  <footer class="footer">
    <%= link_to '日程を作成する', new_itinerary_path, class: 'footer-link' %>
    <%= link_to '日程を確認する', "#", class: 'footer-link' %>
    <%= link_to 'マイページ', "#", class: 'footer-link' %>
  </footer>

</body>
</html>