<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ログイン</title>
  <link rel="stylesheet" href="<%= 'app/assets/stylesheets/devise/sessions/new.scss' %>">
</head>
<body class="login-page">
  <div class="top-banner"></div>
      <div class="form-container">
        <h1>ログイン</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, required: true, autofocus: true %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, required: true %>
          </div>
          <div class="form-actions">
            <%= f.submit 'ログイン', class: 'submit-button' %>
          </div>
        <% end %>
        <p class="link"> 
          <%= link_to '新規登録はこちら', new_registration_path(resource_name) %>
        </p>
      </div>
  <div class="bottom-banner"></div>
</body>
</html>