<!-- ヘッダー -->
  <header class="header">
    <div class="welcome">ようこそ <%= current_user.nickname %> さん</div>
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'logout-button' %>
  </header>

<main>
  <!-- インストラクション -->
  <div class="instructions">
    タイトル：<%= @itinerary.title %><br>
    <%= @display_date %>（<%= @day_label %>)
  </div>

  <!-- 地図の表示領域 -->
  <div class="map-container">
    <div id="stations-data" data-stations="<%= @stations.to_json %>"></div>
    <div id="map" ></div>
  </div>
</main>

<!-- フッター -->
<footer class="footer">
  <div class="footer-container">
    <!-- モーダルを開くボタン -->
    <button id="open-itinerary-modal" class="footer-link">日程を<br>作成する</button>

    <!-- 前の日へ（1日目では非表示） -->
    <% if @day_number > 1 %>
      <%= link_to "前の日へ", new_itinerary_destination_path(@itinerary, current_day: @day_number - 1), class: "footer-link" %>
    <% end %>

    <!-- 次の日へ（end_date を超える場合は非表示） -->
    <% if (@itinerary.start_date + @day_number.days - 1) < @itinerary.end_date %>
      <%= link_to "次の日へ", new_itinerary_destination_path(@itinerary, current_day: @day_number + 1), class: "footer-link" %>
    <% end %>
  </div>
</footer>