<!-- ヘッダー -->
  <header class="header">
    <div class="welcome">
      <h2><%= @itinerary.title %> - <%= @display_date %>（<%= @day_label %>)</h2>
    </div>
    <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'logout-button' %>
  </header>

<main>
<div class="main-contents">
  <!-- インストラクション -->
  <div class="instructions">
    出発地を登録したら<br>
    経路を登録してしおりを作成しましょう
  </div>
 

  <div class="map-container">
    <!-- 地図の表示領域 -->
    <div class="map-container">
      <div id="itinerary-data" data-itinerary-id="<%= @itinerary.id %>" data-start-date="<%= @start_date %>"></div>
      <div id="stations-data" data-stations="<%= @stations.to_json %>"></div>
      <div id="map2"></div>
    </div>

    <!-- 出発地登録領域 -->
    <div class="starting-point-form">
      <label for="starting-point" class="starting-point-heading">出発地点を選ぶ:</label>
      <!--<input type="text" id="starting-point" placeholder="例: 苫小牧フェリー乗り場"> -->
      <button type="button" id="search-location">現在地を選ぶ</button>
      <button type="button" id="register-starting-point">出発地を登録する</button>
    </div>
  </div>
</div>
</main>

<!-- フッター -->
<footer class="footer">
  <div class="footer-container">
     <button id="save-route-btn" class="footer-link">しおりを<br>作成する</button>
  </div>
  </div>
</footer>